
@import "tailwindcss";
/* for thems */
@import "./themes.css";

:root {

}

/* Fix Chrome/Edge autofill white/yellow background on dark inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 9999s ease-out 0s;

  /* matches your bg-black/30 look */
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.3) inset !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
}