@import "tailwindcss";
@import "./themes.css";

/* Make the whole app follow theme colors */
html, body {
  background: var(--bg);
  color: var(--text);
}

/* Fix Chrome/Edge autofill (works in both dark + light) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--text) !important;
  caret-color: var(--text);
  transition: background-color 9999s ease-out 0s;

  box-shadow: 0 0 0px 1000px var(--input-bg) inset !important;
  border: 1px solid var(--input-border) !important;
}
